# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
.venv/
env/

# IDE files
.vscode/
.idea/
.gemini/

# Notebooks checkpoints
.ipynb_checkpoints

# Local config
setup.yaml
